.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f5f5f5 5px solid !important;
}

.font{
    color: rgb(61, 61, 61);
}

body{

}