.heading{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
    
}

.img{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.login{
    font-size: 30px;
}

.height{
    margin-top: 10px;
}

body{
    background-color: #ffffff;
}