#container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 45%;
    align-self: flex-end;
    

}

#container1{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    
}

#container2{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    background-color: grey;
}